<div class="card">
  <%= link_to image_tag(bike.image, class: :card__img ), bike_path(bike) %>
  <div class="card__body">
    <%= link_to bike.title, bike_path(bike), class: :card__title%>
    <p class="card__summary">
      <%= bike.catch_copy %>
    </p>
    <%= link_to "by #{bike.user.name}", user_path(bike.user), class: :card__user %>
  </div>
</div>